<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聊天室</title>
</head>
<body>
    <div>
        <div id="login" class="hide">
            <button id="signInGoogleBtn">
                <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="">
                <span>Sign in with Google</span>
            </button>
        </div>
        <div id="userinfo" class="hide">
            <h6>登入成功</h6>
            <p>createdAt:<span id="createdAt"></span></p>
            <p>lastLoginAt:<span id="lastLoginAt"></span></p>
            <p>
                <span id="photoURL"></span>
                <span id="displayName"></span>
            </p>
        </div>
        <p>根據六角youtube教學，不過這一年firebase文件有一點點變動，增加了Web v9-modular寫法</p>
        <div id="app">
            <div class="chartContainer">
                <template v-if="status">
                    <div v-for="(item, key) in chartRoom" :key="key" class="chartBox">
                        <p>
                            <span>{{item.username}} : </span>
                            <span>{{item.message}}</span>
                        </p>
                        <p class="subText gray">{{item.time}}</p>
                    </div>
                </template>
                <template v-else>
                    <div class="loading">
                        Loading...
                    </div>
                </template>
            </div>
            <footer>
                <p>連線狀況：{{status? '連線中': '斷線'}}</p>
                <template v-if="tempUserEdit">
                    <input type="text" v-model.trim="tempUserName" placeholder="🐢請輸入你的名字🐢" @keyup.enter="updateUserName">
                    <span @click="updateUserName">✔️</span>
                </template>
                <template v-else>
                    <span>
                        <span>{{tempUserName}}</span>
                        <span @click="tempUserEdit = true">✎</span>
                    </span>
                </template>
                <input type="text" v-model.trim="inputMsg" placeholder="請輸入訊息">
                <button @click.enter="send">送出</button>
            </footer>
        </div>
        <p>
            下一步驟：安全規則加入
            <a href="https://firebase.google.com/docs/database/security/get-started" target="_blank">安全規則設定</a>
        </p>
    </div>
<script src="https://unpkg.com/vue@next"></script>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
    import { getAuth, onAuthStateChanged, GoogleAuthProvider, signInWithPopup } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-auth.js"
    import { getDatabase, ref, onValue, child, push, set } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-database.js"

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyB1otzmT1lxBXndWOD66vGJ5VkxcbbF0K8",
        authDomain: "chatroom-a5cfd.firebaseapp.com",
        projectId: "chatroom-a5cfd",
        storageBucket: "chatroom-a5cfd.appspot.com",
        messagingSenderId: "731065234859",
        appId: "1:731065234859:web:f072567e4aedf676758eee",
        measurementId: "G-ZZ49P8VPV5",
        databaseURL: "https://chatroom-a5cfd-default-rtdb.asia-southeast1.firebasedatabase.app/"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);

    // Initialize Firebase Authentication and get a reference to the service
    const auth = getAuth(app);
    const provider = new GoogleAuthProvider()

    // Initialize Realtime Database and get a reference to the service
    const database = getDatabase(app);


    onAuthStateChanged(auth, (user) => {
        if (user) {
            console.log('User is signed in');
            // User is signed in, see docs for a list of available properties
            // https://firebase.google.com/docs/reference/js/firebase.User
            updateUserInfo(user)
        } else {
            console.log('User is signed out');
            cleanUserInfo()
        }
    });
    const signInGoogle = () => {
        signInWithPopup(auth, provider)
        .then((result) => {
            // This gives you a Google Access Token. You can use it to access the Google API.
            const credential = GoogleAuthProvider.credentialFromResult(result);
            const token = credential.accessToken;
            // The signed-in user info.
            const user = result.user;
        }).catch((error) => {
            console.log(error);
            cleanUserInfo()
        });
    }
    const updateUserInfo = (user) => {
        document.getElementById('createdAt').innerText = new Date(parseInt(user.metadata.createdAt)).toISOString()
        document.getElementById('lastLoginAt').innerText = new Date(parseInt(user.metadata.lastLoginAt)).toISOString()
        // 官方說以下要小心怕被XSS攻擊(塞髒東西到字串或url中)
        document.getElementById('displayName').innerText = user.displayName
        if(user.photoURL){
            document.getElementById('photoURL').innerHTML = `<img src="${user.photoURL}"">`;
        }

        //讓div中的內容顯示出來
        document.getElementById("login").classList.add("hide");
        document.getElementById("userinfo").classList.remove("hide");
    }
    const cleanUserInfo = () => {
        document.getElementById("logged").classList.add("hide");
        document.getElementById("userinfo").classList.add("hide");
    }
    document.getElementById("signInGoogleBtn").addEventListener("click", signInGoogle);

    //產生連線
    const startRef = ref(database, 'msg');

    const App = {
        data(){
            return {
                tempUserName: '',
                tempUserEdit: false,
                inputMsg: '',
                chartRoom: {},
                status: false
            }
        },
        methods: {
            updateUserName(){
                localStorage.setItem('firebase_name', this.tempUserName)
                this.tempUserEdit = false
            },
            send(){
                if(this.tempUserName === '' || this.inputMsg === "") return
                //於msg之下創建一個key，並同時檢索密鑰hash key
                //下面兩個寫法一樣
                const PostKey = push(startRef).key
                // const PostKey = push(child(ref(database), 'msg')).key

                //寫入 PostKey及value
                const Now = new Date()
                set(ref(database, `msg/'${PostKey}`), {
                    username: this.tempUserName,
                    message: this.inputMsg,
                    time: Now.toISOString(),
                    milliseconds: Now.getTime()
                })
                .then(() => {
                    // Data saved successfully!
                })
                .catch((error) => {
                    // The write failed...
                });
                this.inputMsg = ''
            },
            listenDB(){
                //連線後監聽-每次資料庫異動都會被觸發
                //不建議將偵聽器附加到數據庫的根目錄。
                onValue(startRef, (snapshot) => {
                    const data = snapshot.val();
                    this.chartRoom = data
                    // console.log(snapshot.numChildren()) // 這個SDK無法取得線上人數這個methods
                })
            }
        },    
        mounted() {
            //檢測localStorage有沒有名字
            const cachName = localStorage.getItem('firebase_name')
            this.tempUserName = cachName? cachName: ''

            //檢測連接狀態
            const connectedRef = ref(database, ".info/connected");
            onValue(connectedRef, (snap) => {
                if (snap.val() === true) {
                    this.status = true
                    this.listenDB()
                } else {
                    this.status = false
                }
            });
        }
    }
    Vue.createApp(App).mount("#app")

</script>
</body>
</html>
<style>
    #app{
        margin: 1rem auto;
    }
    span, p{
        margin: 0 .25rem;
        line-height: 1.8;
    }
    input{
        margin: 0.25rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
    .gray{
        color: #999;
    }
    .subText{
        font-size: 80%;
    }
    .chartContainer{
        width: 45rem;
        height: calc(100vh - 12rem);
        padding: .25rem;
        overflow: scroll;
    }
    .chartContainer > div{
        display: inline-flex;
        width: 100%;
        border-radius: 3rem;
        border: 1px solid #555;
    }
    .chartBox{
        align-items: flex-end;
        justify-content: space-between;   
        margin-bottom: .5rem;
        padding: .25rem 0;
    }
    .chartContainer > div.loading{
        height: 99%;
        align-items: center;
        justify-content: center;
    }
    .hide{
        display: none;
    }
</style>