<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue2</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="toDoText">
        <button @click="createItem">新增待辦事項</button>
        <ul>
            <li v-for="(item, index) in list" :key="index">
                <input type="checkbox" v-model="item.select">
                {{item.name}}
            </li>
        </ul>
        <button @click="doneAll">全部完成</button>
        <hr>
        <h6>Done</h6>
        <ul>
            <li v-for="(item, index) in doneList" :key="index">
                {{item.name}}
            </li>
        </ul>
        <button @click="clearAll">全部刪除</button>
        <button @click="clearSelect">刪除完成項目(刪除選取)</button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const App = {
            data(){
                return {
                    toDoText: '',
                    list: [
                        {select: false, name: '測試一下'}
                    ]
                }
            },
            computed:{
                doneList(){
                    return this.list.filter(item => item.select)
                }
            },
            methods: {
                createItem(){
                    this.list.push({
                        select: false, 
                        name: this.toDoText
                    })
                    this.toDoText = ''
                },
                doneAll(){
                    this.list = this.list.map(item => {
                        return {
                            ...item,
                            select: true
                        }
                    })
                },
                clearAll(){
                    this.list = []
                },
                clearSelect(){
                    this.list = this.list.filter(item => !item.select)
                }
            },
        }
        Vue.createApp(App).mount("#app")
    </script>
</body>
</html>